<header class="header">
  <button
    class="list-btn"
    onclick="document.getElementById('sidebar').style.width = '250px';"
  >
    <span class="material-icons">
      menu
    </span>
  </button>
  <button class="logout-btn"><a href="/api/logout">Logout</a></button>
</header>
