<!DOCTYPE html>
<html lang="en">
  <%- include('head'); -%>
  <body>
    <div>
      <h1 class="page-heading">Todolist</h1>
    </div>
    <div class="login-area">
      <a href="/auth/google" class="login-btn">
        <i class="fa fa-google"></i> Login with Google
      </a>
    </div>
  </body>
</html>
